@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap");

body {
	background: #d8eacb;
	font-family: "Montserrat", sans-serif;
	color: #000;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #eeee;
	padding: 0.5em;
}

.logo {
	font-weight: bold;
}

.menu {
	cursor: pointer;
}

nav ul {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #72a84a;
	height: 100vh;
	padding-top: 5em;
	z-index: 100;
}

nav ul li a {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
	display: block;
}

.exit a {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 1rem;
	top: 1rem;
	padding: 0;
}
