/* 1. Remove default margin & padding */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* 2. Improve text rendering */
html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

/* 3. Remove link underlines by default */
a {
	text-decoration: none;
	color: inherit;
}

/* 4. Make images behave */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 5. Remove list styles */
ul,
ol {
	list-style: none;
}

/* 6. Ensure form elements inherit fonts */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Prevent text from spilling out */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
