<li>
	<article class="testimonial">
		<img src="{{imgSrc}}" class="test-img" alt="{{imgAlt}}" />
		<div class="test-left">
			<p class="test-desc">
				"{{quote}}"
			</p>
			<p class="test-auth">— {{author}}</p>
		</div>
	</article>
</li>
